.container-left{
    margin-left: 10vw;
    display: flex;
    
}

.card-container-left{
    margin-left: -1vw;
    width: 25vw;
    margin-top: 5vh;
    margin-right: 1vw;
}

.fa-check{
    color: green;
}

.left-icon{
    margin-left: 1.5vw;
    z-index: 1
}

.header-image-left{
    width: 7vw;
}

.header-image2-left{
    width: 7vw;
    margin-left: 15.5vw;
}


.heading-container-left{
    display: flex;
    justify-content: space-between;
}